{
  "extension": [
    ".ts",
    ".tsx"
  ],
  "exclude": [
    "typings",
    "coverage",
    "doc",
    "dist",
    "interfaces",
    "types",
    "**/*test.ts"
  ],
  "reporter": [
    "text",
    "html"
  ],
  "require": [
    "ts-node/register"
  ],
  "all": true
}