{
  "extension": [
    ".ts",
    ".tsx"
  ],
  "exclude": [
    "typings",
    "coverage",
    "doc",
    "dist",
    "interfaces",
    "types",
    "index.ts",
    "**/*test.ts",
    ".eslintrc.js"
  ],
  "reporter": [
    "lcov",
    "text",
    "html"
  ],
  "require": [
    "ts-node/register"
  ],
  "all": true
}